<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <h2>
        この下に出席数を表示
      </h2>
    </section>
  </aside>
</div>
